{% extends "templates/base.html" %}

{% block header %} Sign in {% endblock %}

{% block content %}
<ul data-role="listview" data-inset="true">
<li>
<form action="/auth/login/?next={{next}}"" method="post" data-transition="slideup" data-ajax=false>
	<div data-role="fieldcontain"> 
         <label for="username">Username:</label> 
         <input type="text" name="username" id="username" value=""  /> 
	</div>
	<div data-role="fieldcontain"> 
         <label for="password">Password:</label> 
         <input type="password" name="password" id="password" value=""  /> 
	</div>
	<input type="hidden" name="next" id="next" value="{{next}}"  /> 
	<button type="submit" data-icon="check">Sign in</button>
</form>
</li>
</ul>
{% endblock %}

