{% extends "templates/base.html" %}

{% block header %} Welcome! {% endblock %}

{% block content %}
<ul data-role="listview" data-inset="true">
	<li><h2>Electronic elections - a tool for secure and consistent elections.</h2></li>
</ul>
<ul data-role="listview" data-inset="true">
	<li data-role="list-divider">Available polls</li>
	{% for poll in poll_list %}
		<li>
			<a href="/vote/choice/{{ poll.id }}/">
				<h3>{{ poll.question }}</h3>
			</a>
		</li>
	{% empty %}
		<li>There are no polls</li>
	{% endfor %}
</ul>
{% endblock %}

{% block footer_buttons %}
<a href="/vote/find" data-role="button" data-theme="b" data-icon="search" class="ui-btn-right">Find my choice</a>
{% endblock %}
