{% extends "templates/base.html" %}

{% block header %} Voting {% endblock %}

{% block content %}
<ul data-role="listview" data-inset="true">
<li>
<form action="/vote/submit/" method="post" data-transition="slideup">
	<div data-role="fieldcontain">
		<fieldset data-role="controlgroup">
			<legend>{{poll.question}}</legend>
			{% for choice in choice_list %}
         	<input type="radio" name="choice" id="{{choice.id}}" value="{{choice.id}}" />
         	<label for="{{choice.id}}">{{choice.choice}}</label>
         	{% endfor %}
		</fieldset>
	</div>
	<button type="submit" data-icon="check" data-theme="e">Vote</button>
</form>
</li>
</ul>
{% endblock %}

